/* Google Fonts Import - Open Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Common Styles */

body {
  font-family: "Open Sans", sans-serif;
}

.btn-primary {
  border: 0;
  border-radius: 5px;
  background: #fd6e0a;
  color: white;
  padding: 18px 36px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.btn-secondary {
  border-radius: 5px;
  border: 2px solid #fd6e0a;
  color: #fd6e0a;
  background-color: white;
  padding: 18px 36px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 30px 0;
}

/* Header Section Start */
header {
  background: #fff8f3;
  background-image: url("../asstes/img/header_bg.png"),
    url("../asstes/img/developer.png");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom right, 20px 50px;
  background-size: 800px, 85px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}

nav h1 {
  font-size: 45px;
  font-weight: 800;
}

nav h1 span {
  color: #fd6e0a;
  font-size: 45px;
  font-weight: 800;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 50px;
}

nav ul li a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}

/* Header Section End */

/* Banner Secttion Starat */
.banner {
  display: flex;
  height: 590px;
  align-items: center;
}
.banner-left {
  margin-left: 132px;
}
.banner-left h4 {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
}

.banner-left p {
  padding: 20px 0;
}

.banner-right img {
  width: 540px;
  margin-bottom: 30px;
  margin-right: 100px;
}

.banner-left h1 {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
}

.banner-left p {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.button-container,
.btn-banner {
  display: flex;
  align-items: center;
  gap: 25px;
}

/* Banner Secttion End */

/* Main Section Start */
main {
  width: 80%;
  margin: 0 auto;
}

/* About Section Start  */
.about {
  padding: 180px 160px;
  border-radius: 10px;
  background: #fff8f3;
  margin: 100px 0;
}

.about-info-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about-info {
  text-align: center;
}

.about-info p {
  color: #757575;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 5px;
}

.about-info strong {
  color: #474747;
  font-size: 20px;
  font-weight: 700;
}
/* About Section End */
/* Main Section End */
